---
---
$brand-1: #0F5481;
$brand-2: #4AB1D9;
$washed-blue: #A0c6e3;
$charcoal: #597690;
$off-white: #EDFBFF;
$text-gray: #666666;
$button-disabled: #B7B4B4;
$standard-white: #fff;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5em;
    color: $text-gray;
}

strong {
    font-weight: 600;
}

.navbar {
    padding: 0px;
    font-weight: 300;
}

.nav-link {
    font-weight: 400;
}

.dropdown-item {
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: $brand-1;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.dropdown-item.active {
    color: $brand-2;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: $brand-2;
}

.dropdown-item {
    color: $brand-1;

    &:hover,
    &:focus {
        background-color: #fff;
        color: $brand-2;
    }

    &.active {
        background-color: #fff;
    }
}

.grouping-name {
    font-size: 13px;
    color: $text-gray;
    padding-left: 1.05rem;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $brand-2;
    opacity: .7;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $brand-2;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $brand-2;
}

.sh-fade-in {
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2.75rem;
    text-transform: uppercase;
}

h2 {
    font-family: lato, sans-serif;
    font-weight: 900;
    font-size: 2.2rem;
}

h3 {
    font-family: lato, sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: $charcoal;

    &.small-header {
        font-size: 1.6rem;
    }
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;

}

a {
    color: $brand-1;

    &:visited {
        color: $brand-1;
    }

    &:hover {
        color: $brand-2;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
    }
}

@media (min-width: 1100px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 2rem;
    }
}

@media (min-width: 1400px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 3rem;
    }
}

@media (max-width: 992px) {
    .sh-logo {
        width: 250px;
    }
}

@media (min-width: 992px) {
    .sh-logo {
        width: 350px;
    }
}

.sh-button-wrapper {
    display: flex;
    justify-content: center;

    .sh-button {
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 170px;
        height: 60px;
        border: 2px solid $brand-1;
        border-radius: 3px;
        color: $brand-1;
        text-decoration: none;
        transition: 0.45s;
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;

        &:visited {
            color: $brand-1;
            text-decoration: none;
        }


        &:hover {
            color: $standard-white;
            background-color: $brand-1;
            text-decoration: none;
            transition: 0.45s;
        }
    }
}

.sh-header-lines {
    overflow: hidden;
    text-align: center;

    span {
        position: relative;
        display: inline-block;
        color: $charcoal;

        @media(max-width: 435px) {
            & {
                font-size: 2.2rem;
            }
        }
    }
}

.sh-home-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1450px;
    align-self: center;

    .sh-home-illustration {
        display: flex;
        width: 40%;
        
        &>img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 1091px) {
            width: 100%;
        }
    }

    .sh-home-text {
        display: flex;
        flex-direction: column;
        width: 60%;

        @media screen and (max-width: 1091px) {
            width: 100%;
        }

        .contact-button-wrapper {
            display: flex;
            justify-content: center;

            .contact-button {
                display: flex;
                align-self: center;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
                height: 60px;
                border: 2px solid $brand-1;
                border-radius: 3px;
                color: $brand-1;
                text-decoration: none;
                transition: 0.45s;
                margin-top: 20px;
                font-weight: 400;
                font-size: 16px;

                &:visited {
                    color: $brand-1;
                    text-decoration: none;
                }


                &:hover {
                    color: $standard-white;
                    background-color: $brand-1;
                    text-decoration: none;
                    transition: 0.45s;
                }
            }
        }
    }
}

.default-button-wrapper {
    display: flex;
    justify-content: center;

    .default-button {
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 170px;
        height: 60px;
        border: 2px solid $brand-1;
        border-radius: 3px;
        color: $brand-1;
        text-decoration: none;
        transition: 0.45s;
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;

        &:visited {
            color: $brand-1;
            text-decoration: none;
        }


        &:hover {
            color: $standard-white;
            background-color: $brand-1;
            text-decoration: none;
            transition: 0.45s;
        }
    }
}

.sh-header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
}

.sh-intro {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    .sh-tagline {
        margin-top: 40px;

        h1 {
            color: $washed-blue;
            margin-bottom: 30px;
        }

        h2 {
            color: $washed-blue;
            margin-bottom: 30px;
        }
    }

    .sh-description {
        margin-top: 40px;
        color: $text-gray;
        width: 80%;
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

        &.home-description {
            font-size: 20px;
            text-align: center;
            line-height: 35px;
        }

        &>h3 {
            font-weight: 200;
        }
    }

    .sh-button {
        border: none;
    }


}

.sh-band-flair {
    height: 90px;

    &.light-top {
        background: url('/images/off-white-top.svg') no-repeat center center;
        background-size: 100% 100%;
    }

    &.light-bottom {
        background: url('/images/off-white-bottom.svg') no-repeat center center;
        background-size: 100% 100%;
    }

    &.dark-top {
        background: url('/images/brand-1-top.svg') no-repeat center center;
        background-size: 100% 100%;
    }

    &.dark-bottom {
        background: url('/images/brand-1-bottom.svg') no-repeat center center;
        background-size: 100% 100%;
    }

    &>img {
        user-select: none;
        width: 100%;
        visibility: hidden;

        &.top {
            vertical-align: bottom;
        }

        &.bottom {
            vertical-align: top;
        }
    }

    .git-flair {
        background-color: $brand-1;
    }
}

.sh-product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    width: 1133px;

    @media(max-width: 1279px) {
        width: 90%
    }

    &.vertical {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    a:hover {
        text-decoration: none;
    }

    .sh-product-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        &.vertical {
            width: auto;
            justify-content: flex-start;
            height: 100%;
            ;
        }

        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 2%;
        margin-right: 2%;
        transition: 0.5s;
        background-size: 100% 100%;
        background-color: #fff;

        border-radius: 10px;

        .small-image-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .sh-product {
            color: $brand-1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            &.vertical {
                color: $brand-1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                max-width: 425px;
                padding: 40px;
                margin-top: 20px;
                margin-bottom: 20px;

                h3 {
                    margin-top: 20px;
                    text-align: center;
                }

                p {
                    margin-top: 10px;
                    text-align: left;
                    min-height: 170px;
                }

                a {
                    text-align: center;

                    button {
                        width: 200px;
                    }
                }

                .sh-product-image {
                    min-height: 150px;
                }

                @media(max-width: 414px) {
                    & .sh-product-image {
                        min-height: 100px;
                    }
                }

                @media(max-width: 364px) {
                    & {
                        height: 700px;
                    }
                }
            }

            &>.text {
                display: flex;
                flex-direction: column;
                width: 50%;
                color: $text-gray;

                @media(max-width: 767px) {
                    width: 100%;
                }

                &>.small-link {
                    margin-top: 10px;
                    text-align: center;
                    font-weight: 600;
                    font-size: 18px;

                    &>a {
                        color: $brand-2;
                    }

                    &>a:hover {
                        text-decoration: underline
                    }

                    &>a:visited {
                        color: $brand-2;
                    }
                }
            }

            &>.icon {
                display: flex;
                flex-direction: column;
                align-self: center;
                max-width: 263px;

                &>img {
                    width: 100%;
                }
            }

            .small-icon {
                display: none;
            }

            &>.pull-right {
                text-align: right;
            }

            h2 {
                margin-top: 20px;
                text-align: center;

                &>a {
                    color: $brand-1;
                }

                &>a:hover {
                    text-decoration: underline;
                }

                &>a:visited {
                    color: $brand-1;
                }
            }

            h4 {
                margin-top: 20px;
                font-size: 1.2em;
                font-weight: bold;
                text-align: left;
            }

            p {
                margin-top: 10px;
                text-align: left;
            }


            a {
                text-align: center;

                button {
                    width: 200px;
                }
            }

            .sh-product-image {
                min-height: 150px;
            }

            &.sh-product-consulting {

                &:hover {

                    .sh-button {
                        transition: 0.5s;
                        background-color: $brand-1;
                    }
                }

                .sh-product-image {
                    transition: 0.25s ease-in;
                    background-image: url('/images/consulting-color.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &.sh-product-development {

                &:hover {
                    .sh-button {
                        transition: 0.5s;
                        background-color: $brand-1;
                    }
                }

                .sh-product-image {
                    transition: 0.25s ease-in;
                    background-image: url('/images/development-color.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &.sh-product-gsuite {

                &:hover {
                    .sh-button {
                        transition: 0.5s;
                        background-color: $brand-1;
                    }
                }

                .sh-product-image {
                    transition: 0.25s ease-in;
                    background-image: url('/images/gsuite2.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            .sh-feature-list {
                list-style: none;
                padding-left: 0;

                li {
                    img {
                        margin-right: 10px;
                    }

                    margin-top: 5px;
                }
            }

            .sh-list-image {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.sh-content {
    .sh-band-feature {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .sh-dark-band {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $brand-1;
        color: $standard-white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: hidden;

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;

            &.large-h2 {
                font-size: 68px;
                text-transform: uppercase;
                text-align: right;

                &.align-left {
                    text-align: left;
                }

                @media (max-width: 1024px) {
                    font-size: 60px;
                }

                @media (max-width: 768px) {
                    font-size: 48px;
                }
            }
        }

        h3 {
            color: $standard-white;
        }

        h4 {
            &.impact-h4 {
                color: $standard-white;
            }

            &.align-right {
                text-align: right;
            }
        }

        .sh-city-outline {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 70%;
        }

        p {
            max-width: 1000px;
            
            &.large-text {
                font-size: 1.2rem;
                text-align: center;
            }
        }

        .sh-dark-band-content {
            max-width: 780px;

            a {
                color: $off-white;
                font-weight: bold;
            }
        }

        .sh-button-wrapper {
            display: flex;
            justify-content: center;

            .sh-button {
                display: flex;
                align-self: center;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 170px;
                height: 60px;
                border: 2px solid $standard-white;
                border-radius: 3px;
                color: $standard-white;
                text-decoration: none;
                transition: 0.45s;
                margin-top: 20px;
                font-weight: 400;
                font-size: 16px;

                &:visited {
                    color: $standard-white;
                    text-decoration: none;
                }


                &:hover {
                    color: $brand-1;
                    background-color: $standard-white;
                    text-decoration: none;
                    transition: 0.45s;
                }
            }
        }

        .sh-services {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: flex-start;

            .sh-service {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 280px;
                flex: 1 1 280px;
                color: $standard-white;

                img {
                    height: 100px;
                }

                h3 {
                    margin-top: 15px;
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }
        }
    }

    .sh-light-band {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $off-white;
        color: $brand-1;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: hidden;

        .git-button {
            color: #fff;
    
            &:visited {
                color: $brand-1;
                text-decoration: none;
            }
    
    
            &:hover {
                color: $brand-1;
                background-color: #fff;
                text-decoration: none;
                transition: 0.45s;
            }
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;

            &.large-h2 {
                font-size: 68px;
                text-transform: uppercase;
                text-align: left;

                @media (max-width: 1024px) {
                    font-size: 60px;
                }

                @media (max-width: 768px) {
                    font-size: 48px;
                }
            }
        }

        h4 {
            &.impact-h4 {
                color: $brand-1;
            }

            &.align-right {
                text-align: right;
            }
        }

        .sh-city-outline {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 70%;
        }

        h4 {
            max-width: 800px;
            text-align: center;
        }

        .sh-light-band-content {
            max-width: 780px;
        }

        .sh-services {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: flex-start;

            .sh-service {
                color: $brand-1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 280px;
                flex: 1 1 280px;

                img {
                    height: 100px;
                }

                &>h3 {
                    color: $brand-1;
                    font-weight: 400;
                    margin-top: 15px;
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }
        }
    }

    .sh-white-band {
        color: $text-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 95px;
        padding-bottom: 95px;
        overflow-x: hidden;

        h1 {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 40px;
            color: $brand-1;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
            color: $charcoal;

            &.large-h2 {
                font-size: 68px;
                text-transform: uppercase;
                text-align: left;
                color: $brand-1;

                &.align-right {
                    text-align: right;
                }

                @media (max-width: 1024px) {
                    font-size: 60px;
                }

                @media (max-width: 768px) {
                    font-size: 48px;
                }
            }
        }

        h4 {
            &.impact-h4 {
                color: $brand-1;
            }

            &.align-right {
                text-align: right;
            }
        }

        p {
            max-width: 1000px;

            &.full-width {
                max-width: 100%;
            }
        }

        .sh-white-band-content {
            max-width: 780px;
        }

        .sh-services {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-bottom: 40px;
            align-items: flex-start;

            .sh-service {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 280px;
                flex: 1 1 280px;

                img {
                    height: 100px;
                }

                h3 {
                    margin-top: 15px;
                    color: $charcoal;
                }

                p {
                    text-align: center;
                    color: $text-gray
                }
            }
        }
    }

    .sh-clients {
        background-color: $brand-2;
    }

    .steps {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .step {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 250px;

            & .step-number {
                width: 118px;
                height: 118px;
                line-height: 110px;
                border: 2px solid white;
                border-radius: 50%;
                margin: 0 auto;
                color: white;
                font-weight: bold;
                font-size: 34px;
                text-align: center;
            }

            & .step-title {
                text-align: center;
                font-size: 22px;
                color: $brand-2;
                font-family: 'Open Sans'-condensed, sans-serif;
                font-weight: 400;
                margin-top: 10px;
                text-transform: uppercase;
            }

            & .step-caption {
                padding-left: 10px;
                padding-right: 10px;

                @media (max-width: 767px) {
                    & {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }

    .vertical-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .step {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: left;
            margin-bottom: 10px;
            max-width: 810px;

            & .step-icon {
                display: flex;
                min-width: 68px;
                height: 68px;
                justify-content: center;
            }

            & .step-content {
                display: flex;
                flex-direction: column;
                margin-left: 15px;

                & .step-title {
                    font-weight: bold;
                    color: $brand-2;
                    font-size: 20px;
                }
            }
        }
    }

    .dev-steps {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

        .dev-step-list {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            max-width: 555px;
            ;

            & .dev-step {
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid darkslategrey;
                text-align: left;

                & .dev-step-title {
                    font-size: 20px;
                    color: $charcoal;
                }

                
            }
        }

        .dev-step-graphic {
            display: flex;
            flex-direction: column;
            width: 375px;
        }
    }

    .sh-partners {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .sh-partner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
            padding-bottom: 20px;
            padding-top: 20px;
            max-width: 1000px;
            border-bottom: 1px solid #B7B4B4;

            &:last-of-type {
                border-bottom: none;
            }

            & .sh-partner-logo {
                display: flex;
                min-width: 465px;
                justify-content: left;

                &>img {
                    height: 100px;
                    max-width: 462px;
                }
            }

            & .sh-partner-content {
                display: flex;
                flex-direction: column;
                margin-left: 45px;
                width: 450px;


                & .sh-partner-title {
                    color: $brand-1;
                    text-align: left;
                }
            }

            @media (max-width: 979px) {
                & {
                    flex-direction: column;
                    justify-content: center;
                }

                & .sh-partner-logo {
                    justify-content: center;

                    &>img {
                        max-width: 90%;
                    }
                }

                & .sh-partner-content {
                    padding-top: 15px;
                }
            }

            @media(max-width: 530px) {
                & .sh-partner-logo {
                    min-width: 0;

                    &>img {
                        height: 50px;
                    }
                }

                & .sh-partner-content {
                    min-width: 0;
                    width: 80%;
                }
            }
        }
    }

    .sh-contact-us {
        padding-top: 20px;
        padding-bottom: 20px;

        & > .sh-contact-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
        }

        & > div {
            width: 45%;
        }

        .map {
            margin-right: 10px;
            margin-top: 20px;
            height: 400px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            width: 100%;

            .sh-contact-section {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 20px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 100%
            }
        }

    }

}

.sh-benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
    align-items: flex-start;

    .sh-benefit {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        flex: 1 1 200px;

        i {
            color: $brand-2;
        }

        div {
            margin-top: 15px;
            color: $text-gray;
            text-align: center;
        }
    }
}

.last-light-blue {
    background: $brand-1;
}

.sh-get-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $off-white;
    color: $brand-1;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;

    &>h1 {
        margin-bottom: 30px;
    }

    &>h2 {
        margin-bottom: 30px;
    }

    & .git-text {
        width: 60%;
        margin-bottom: 30px;
    }

    & .git-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 60px;
        border: 2px solid $brand-1;
        border-radius: 3px;
        color: $brand-1;
        text-decoration: none;
        transition: 0.45s;
        font-weight: 400;

        &:visited {
            color: $brand-1;
            text-decoration: none;
        }

        &:hover {
            color: $off-white;
            background-color: $brand-1;
            text-decoration: none;
            transition: 0.45s;
        }
    }
}

.sh-footer {
    background-color: $brand-1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    h3 {
        color: white;
        font-size: 1.2em;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    a {
        color: white;
    }

    .map {
        margin-right: 10px;
        margin-top: 20px;
        height: 200px;
        width: 300px;
    }

    .sh-contact-section {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .sh-contact-form form {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: left;

        input {
            margin-bottom: 10px;
            width: 280px;
            padding: 5px;

        }

        button {
            width: 100px;
        }
    }

    .sh-bottom-navigation {
        margin-left: 10px;
        margin-top: 20px;

        .sh-social-links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 20px;

            img {
                width: 30px;
                margin-right: 10px;
            }
        }

        .sh-bottom-navigation-links {
            display: flex;
            flex-direction: column;
            justify-content: left;

            @media (max-width: 768px) {
                line-height: 48px;
            }
        }
    }
}

.sh-about-us {
    .sh-team-members-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sh-team-members {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
            max-width: 1000px;

            .sh-team-member {
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;

                img {
                    width: 200px;
                }
            }
        }
    }
}

#flexTeamFeature {
    max-width: 800px;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
    }
}

#projectTeamFeature {
    max-width: 800px;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
    }
}

.sh-page-feature {
    max-width: 800px;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
    }
}

#incubatorFeature {
    width: 200px;
    margin: 0 auto;
}

#publicSectorFeature {
    max-width: 800px;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
    }
}

#gsuite {
    text-align: center;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

.sh-meetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sh-g-suite {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;


    .sh-tagline {
        margin-top: 40px;
        margin-bottom: 40px;

        h1 {
            color: $washed-blue;
            margin-bottom: 30px;
        }

        h2 {
            color: $washed-blue;
            margin-bottom: 30px;
        }
    }

    .sh-description {
        margin-top: 40px;
        color: $washed-blue;
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .sh-button {
        border: none;
    }
}

.sh-post-content {
    max-width: 850px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

    &>.sh-header-lines {
        text-align: left;
    }

    .tagline {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        text-transform: uppercase;
        color: $brand-1;
    }


    .publish-info {
        font-size: 12px;
        color: $text-gray;
    }

    .post-body {
        margin-top: 20px;
        font-size: 18px;
        color: $text-gray;

        h1 {
            font-size: 1.45em;
            font-weight: bold;
            margin-bottom: 28px;
            color: $brand-1;
        }

        h2,
        h3 {
            font-family: lato, sans-serif;
            color: $charcoal;
            margin-bottom: 18px;
        }

        h2 {
            font-weight: 800;
        }

        h4 {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 900;
        }

        ul {
            line-height: 2rem;
        }

        .img-center {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        .small-blog-image {
            max-height: 350px;
        }

        p {
            line-height: 2.15rem;
            margin-bottom: 40px;
        }
    }
}

/* Share Bar */
.share-bar {
    font-size: 20px;
}

/* Title */
.share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 0.85em;
}

.share-text {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

.share-buttons {
    display: inline-block;
}

/* All buttons */
.share-buttons>a:hover {
    text-decoration: none;
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    padding: 5px 10px 5px 10px;
    border-radius: 21px;
}

.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.fa-facebook {
    color: #3b5998;
}

.fa-facebook:hover {
    background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
    color: #55acee;
}

.fa-twitter:hover {
    background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
    color: #dd4b39;
}

.fa-google-plus:hover {
    background-color: #dd4b39;
}

/* Reddit button */
.fa-reddit-alien {
    color: #ff4500;
}

.fa-reddit-alien:hover {
    background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
    color: #007bb5;
}

.fa-linkedin:hover {
    background-color: #007bb5;
}

/* Email button */
.fa-envelope {
    color: #444444;
}

.fa-envelope:hover {
    background-color: #444444;
}

.sh-blog {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .post {
        border-radius: 15px;
        width: 315px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 10px rgba(154, 160, 185, .05),
        0 15px 40px rgba(166, 173, 201, .2);
        margin: 25px 40px;

        @media (max-width: 450px) {
            width: 90%;
        }

        &:only-child {
            margin: 0 auto;
        }

        &>a {
            display: flex;
            flex-direction: column;
            
            &:hover {
                text-decoration: none;
                color: inherit;
            }

            &>img {
                height: 210px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                background-color: $washed-blue;
            }

            & div {
                width: 100%;
                padding: 30px;

                &>h4 {
                    text-align: center;
                }
            }
        }

        &:nth-child(even) {
            background-color: $off-white;
            color: $brand-1;

            &>a {
                color: $brand-1;
                &:hover {
                    color: $brand-1;
                }
            }
        }

        &:nth-child(odd) {
            background-color: $brand-1;
            color: $standard-white;

            &>a {
                color: $standard-white;

                &:hover {
                    color: $standard-white;
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    .sh-blog {
        width: 100%;
    }
}



#govtServices {
    justify-content: space-between;
    width: 100%;
    max-width: 1010px;

    @media (max-width: 859px) {
        flex-direction: column;
        align-items: center;
    }

    .govt-service {
        p {
            color: $brand-1 !important;
        }
    }
}

#govtWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & div {
        padding: 30px;
    }

    & p {
        margin-top: 40px;
    }

    @media (max-width: 790px) {
        & p {
            margin-top: 20px;
        }
    }

    @media (max-width: 750px) {
        flex-direction: column;
        align-items: center;

        #treeFrogImageWrapper>img {
            height: 300px;
        }
    }

    #treeFrogTextWrapper {
        max-width: 530px;

        #playStoreButtons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}

.two-col-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    & div {
        padding: 30px;
    }

    & p {
        margin-top: 40px;
    }

    .image-wrapper {
        max-width: 40%;
        min-width: 500px;

        &>img {
            width: 100%;
        }

        @media (max-width: 750px) {
            & {
                max-width: 80%;
                width: 80%;
                min-width: 0;
            }
        }
    }

    @media (max-width: 790px) {
        & p {
            margin-top: 20px;
        }
    }

    @media (max-width: 750px) {
        flex-direction: column;
        align-items: center;
    }

    .text-wrapper {
        max-width: 530px;
    }
}

.elastic-events {
    .elastic-event {
        margin-bottom: 50px;

        .elastic-event-date {
            font-weight: bold;
            color: $brand-1;
        }
    }
}

.sh-team-member {
    cursor: pointer;
}

.sh-team-member-bio {
    padding-right: 25px;

    @media (max-width: 890px) {
        width: 100%;
        padding-right: 0;
    }
}

.sh-team-member-contact {
    border-left: 1px dotted gray;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    
    @media (max-width: 890px) {
        border-left: none;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    }
}

.sh-team-member-contact>.profile-picture {
    align-self: center;
}

.sh-team-member-contact>.profile-picture>img {
    width: 250px;
}

.sh-team-member-contact>div>.title {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 300;
}

.sh-team-member-contact div {
    margin-bottom: 10px;
}

.negative-top {
    margin-top: -10%;
}

.sh-landing-intro {
    width: 100%;
    padding-left: 10%;

    @media(max-width: 1400px) {
        padding-left: 5%;
    }

    @media(max-width: 1100px) {
        padding: 0;
        margin: 0 auto;
    }

    &.landing-big-background.dev {
        background: transparent url('/images/development-gray.svg') 0% 0% no-repeat padding-box;
    }
    &.landing-big-background.consulting {
        background: transparent url('/images/consulting-color.svg') 0% 0% no-repeat padding-box;
    }

    &.landing-big-background.dev, &.landing-big-background.consulting {
        background-position: right;
        background-size: 60% auto;
        min-height: 886px;
        margin: 0 auto;

        @media(min-width: 2000px) {
            min-height: 1200px;
        }

        @media(max-width: 1400px) {
            min-height: 696px;
        }

        @media(max-width: 1100px) {
            padding: 0;
            margin: 0 auto;

            background-position: center bottom;
            min-height: calc(100vh - 100px);
            background-size: 90% auto;
        }

        & h1 {
            padding-top: 15%;
            max-width: 655px;
            text-align: center;
            color: $charcoal;

            @media (min-width: 2000px) {
                padding-top: 20%;
            }

            @media(max-width: 1400px) {
                max-width: 500px;
            }

            @media(max-width: 1100px) {
                padding-top: 20px;
                max-width: 100%;
            }
        }

        & p {
            padding-top: 20px;
            max-width: 655px;
            text-align: center;
            color: $charcoal;
            font-size: 26px;

            @media(max-width: 1400px) {
                max-width: 500px;
            }

            @media(max-width: 1100px) {
                max-width: 100%;
            }
        }
    }
}

.modern-information-structure {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;

    @media (max-width: 612px) {
        flex-direction: column;

        &.reverse-items {
            flex-flow: column-reverse;
        }
    }

    @media(max-width: 1400px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    & .mis-child {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 3%;
        justify-content: center;

        @media (max-width: 612px) {
            width: 100%;
        }

        &.align-right {
            justify-content: right;
        }

        &.align-left {
            justify-content: left;
        }
    }

    &.alt {
        flex-direction: column;
        
        & .mis-child {
            width: 100%;
            padding: 3%;

            & .row-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @media (max-width: 612px) {
                    flex-direction: column;
                }

                & .service-container {
                    min-width: 40%;

                    & p {
                        font-size: 20px;
                        line-height: 56px;
                        margin-bottom: 56px;
                    }
                }
                
                & div.img-service-container {
                    display: flex;
                    max-width: 55%;

                    & img {
                        min-height: 100%;
                    }

                    &.left {
                        justify-content: right;
                        padding-right: 40px;
                    }
                }
            }
        }
    }
}

.big-p {
    color: $charcoal;
    font-size: 24px;
    font-weight: 600;
    line-height: 49px;
    margin-bottom: 49px;
    max-width: 600px;

    &.light-text {
        color: $standard-white;
    }
}

.quote {
    font-size: 28px;
    line-height: 49px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.medium-p {
    color: white;
    font-size: 24px;
    line-height: 49px;

    &.gray {
        color: $text-gray;
    }
}

.visible-md {
    display: none;
}

@media (max-width: 1024px) {
    .visible-md {
        display: block;
    }

    .hidden-md {
        display: none !important;
    }
}

.comparison-table {
    margin-top: 25px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &>table {
        border-collapse: collapse;

        & th, & td {
            border: 1px solid $charcoal;
            padding: 5px;
        }

        & th {
            color: $brand-1;
        }

        & td {
            text-align: center;
            color: #25820d;
        }

        &>thead {
            & tr {
                font-size: 14px;
            }
        }

        & tr td:first-child {
            border-left: 0;
            font-size: 14px;
            text-align: left;
            color: $text-gray;
        }

        & tr:last-child td {
            border-bottom: 0;
        }

        & tr td:last-child {
            border-right: 0;
        }

        & tr:first-child th {
            border-top: 0;
        }
        & tr th:first-child {
            border-left: 0;
        }
        & tr:last-child th {
            border-bottom: 0;
        }
        & tr th:last-child {
            border-right: 0;
        }
    }
}