---
---
$brand-1: #0F5481;
$brand-2: #4AB1D9;
$washed-blue: #A0c6e3;
$charcoal: #597690;
$off-white: #EDFBFF;
$text-gray: #666666;
$button-disabled: #B7B4B4;
$standard-white: #fff;

body {
    font-family: benton-sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    color: $text-gray;
}

.navbar {
    padding: 0px;
    font-weight: 300;
}

.nav-link {
    font-weight: bold;
}

.dropdown-item {
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: $brand-1;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.dropdown-item.active {
    color: $brand-2;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: $brand-2;
}

.dropdown-item {
    color: $brand-1;

    &:hover,
    &:focus {
        background-color: #fff;
        color: $brand-2;
    }

    &.active {
        background-color: #fff;
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $brand-2;
    opacity: .7;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $brand-2;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $brand-2;
}

.sh-fade-in {
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

h1 {
    font-family: bitter, serif;
    font-weight: 600;
}

h2 {
    font-family: bitter, serif;
    font-weight: 400;
}

h3 {
    font-family: bitter, serif;
    font-weight: 400;
    font-size: 1.6rem;
}

h4 {
    font-family: benton-sans, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;

}

a {
    color: $brand-1;

    &:visited {
        color: $brand-1;
    }

    &:hover {
        color: $brand-2;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
    }
}

@media (min-width: 1100px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 2rem;
    }
}

@media (min-width: 1400px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 3rem;
    }
}

@media (max-width: 992px) {
    .sh-logo {
        width: 250px;
    }
}

@media (min-width: 992px) {
    .sh-logo {
        width: 350px;
    }
}

.sh-home-header {
    height: 105vh;
    min-height: 630px;
    background-position: center;

    @media (min-width: 1800px) {
        background-image: url(images/website-cover@4x.png);
    }

    @media (max-width: 1800px) {
        background-image: url(images/website-cover@3x.png);
        height: 110vh
    }

    @media (max-width: 1200px) {
        background-image: url(images/website-cover@2x.png);
    }

    @media (max-width: 760px) {
        background-image: url(images/website-cover.png);
    }

    background-repeat: no-repeat;
    background-size: cover;

    .sh-home-header-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: flex-end;

        & .contact-button-wrapper {
            display: flex;
            align-self: flex-end;
            flex-direction: column;

            @media(max-width:1450px) {
                align-self: center;
            }
        }

        & .contact-button {
            display: flex;
            align-self: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 170px;
            height: 60px;
            border: 2px solid #fff;
            border-radius: 3px;
            color: #fff;
            text-decoration: none;
            transition: 0.45s;
            margin-top: 20px;
            font-weight: 600;

            &:visited {
                color: #fff;
                text-decoration: none;
            }


            &:hover {
                color: $brand-1;
                background-color: #fff;
                text-decoration: none;
                transition: 0.45s;
            }
        }

        h1 {
            display: flex;
            align-self: center;
            margin-top: 15vh;
            color: white;
            text-align: right;
            font-size: 3rem;
            font-family: benton-sans, sans-serif; 
            font-weight: 700;

            @media(max-width:1450px) {
                text-align: center;
            }
        }

        h2 {
            display: flex;
            align-self: center;
            margin-top: 15vh;
            color: white;
            text-align: right;
            font-size: 3rem;
            font-weight: lighter;

            @media(max-width:1450px) {
                text-align: center;
            }
        }

        h3 {
            color: white;
            text-align: right;
            font-size: 2rem;
            font-weight: 100;
        }

        @media (max-width: 846px) {

            h3 {
                font-size: 1.5rem;
            }
        }

        @media (max-width: 380px) {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 2rem;
            }
        }

        @media screen and (max-height: 680px) {
            h1 {
                margin-top: 5vh;
            }

            h2 {
                margin-top: 5vh;
            }
        }

        @media screen and (max-height: 400px) {
            h3 {
                display: none;
            }
        }

        @media (max-width: 840px) {

            h1,
            h2,
            h3 {
                text-align: center;
            }
        }
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }

    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link,
    .dropdown-item.active {
        color: white;
    }

    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: white;
    }
}

.sh-home-scroll-notifier-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    color: $brand-1;
    text-shadow: 0px 2px white;
    font-size: 62px;

    @media screen and (max-height: 400px) {
        & {
            bottom: 10px;
        }
    }

    @media screen and (max-height: 630px) {
        display: none;
    }
}

.sh-home-scroll-notifier {
    display: flex;
    flex-direction: column;
}

.sh-button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $button-disabled;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: $brand-1;
    }
}

.sh-button-active {
    background-color: $brand-1;
    color: white;
}

.sh-header-lines {
    overflow: hidden;
    text-align: center;

    span {
        position: relative;
        display: inline-block;
        color: $charcoal;
        font-size: 48px;

        // &:before, &:after {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     border-bottom: 1px solid $washed-blue-faded;
        //     width: 800px;
        //     margin: 0 100px;
        // }

        // &:before {
        //     right: 100%;
        // }

        // &:after {
        //     left: 100%;
        // }
    }
}

.sh-header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
}

.sh-intro {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;

    .sh-tagline {
        margin-top: 40px;

        h1 {
            color: $washed-blue;
            margin-bottom: 30px;
        }

        h2 {
            color: $washed-blue;
            margin-bottom: 30px;
        }
    }

    .sh-description {
        margin-top: 20px;
        color: $text-gray;
        width: 80%;
        max-width: 780px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

        &.home-description {
            font-size: 20px;
        }

        &>h3 {
            font-weight: 200;
        }
    }

    .sh-button {
        border: none;
    }


}

.sh-band-flair {
    height: 90px;

    &.light-top {
        background: url('/images/light-blue-top.svg') no-repeat center center;
        background-size: 100% 100%;
    }

    &.light-bottom {
        background: url('/images/light-blue-bottom.svg') no-repeat center center;
        background-size: 100% 100%;
    }

    &.dark-top {
        background: url('/images/dark-blue-top.svg') no-repeat center center;
        background-size: 100% 100%;
    }

    &.dark-bottom {
        background: url('/images/dark-blue-bottom.svg') no-repeat center center;
        background-size: 100% 100%;
    }

    &>img {
        user-select: none;
        width: 100%;
        visibility: hidden;

        &.top {
            vertical-align: bottom;
        }

        &.bottom {
            vertical-align: top;
        }
    }

    .git-flair {
        background-color: $brand-1;
    }
}

.sh-product-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    width: 1133px;

    @media(max-width: 1279px) {
        width: 90%
    }

    &.vertical {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    a:hover {
        text-decoration: none;
    }

    .sh-product-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        &.vertical {
            width: auto;
            justify-content: flex-start;
            height: 100%;
            ;
        }

        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.5);
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 2%;
        margin-right: 2%;
        transition: 0.5s;
        background-size: 100% 100%;
        background-color: #fff;

        border-radius: 10px;

        .small-image-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .sh-product {
            color: $brand-1;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            &.vertical {
                color: $brand-1;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                max-width: 425px;
                padding: 40px;
                margin-top: 20px;
                margin-bottom: 20px;

                h3 {
                    margin-top: 20px;
                    text-align: center;
                }

                p {
                    margin-top: 10px;
                    text-align: left;
                    min-height: 170px;
                }

                a {
                    text-align: center;

                    button {
                        width: 200px;
                    }
                }

                .sh-product-image {
                    min-height: 150px;
                }

                @media(max-width: 414px) {
                    & .sh-product-image {
                        min-height: 100px;
                    }
                }

                @media(max-width: 364px) {
                    & {
                        height: 700px;
                    }
                }
            }

            &>.text {
                display: flex;
                flex-direction: column;
                width: 50%;
                color: $text-gray;

                @media(max-width: 767px) {
                    width: 100%;
                }

                &>.small-link {
                    margin-top: 10px;
                    text-align: center;
                    font-weight: 600;
                    font-size: 18px;

                    &>a {
                        color: $brand-2;
                    }

                    &>a:hover {
                        text-decoration: underline
                    }

                    &>a:visited {
                        color: $brand-2;
                    }
                }
            }

            &>.icon {
                display: flex;
                flex-direction: column;
                align-self: center;
                max-width: 263px;

                &>img {
                    width: 100%;
                }
            }

            .small-icon {
                display: none;
            }

            &>.pull-right {
                text-align: right;
            }

            h2 {
                margin-top: 20px;
                text-align: center;

                &>a {
                    color: $brand-1;
                }

                &>a:hover {
                    text-decoration: underline;
                }

                &>a:visited {
                    color: $brand-1;
                }
            }

            h4 {
                margin-top: 20px;
                font-size: 1.2em;
                font-weight: bold;
                text-align: left;
            }

            p {
                margin-top: 10px;
                text-align: left;
            }


            a {
                text-align: center;

                button {
                    width: 200px;
                }
            }

            .sh-product-image {
                min-height: 150px;
            }

            &.sh-product-consulting {

                &:hover {

                    .sh-button {
                        transition: 0.5s;
                        background-color: $brand-1;
                    }
                }

                .sh-product-image {
                    transition: 0.25s ease-in;
                    background-image: url('/images/consulting-color.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &.sh-product-development {

                &:hover {
                    .sh-button {
                        transition: 0.5s;
                        background-color: $brand-1;
                    }
                }

                .sh-product-image {
                    transition: 0.25s ease-in;
                    background-image: url('/images/development-color.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &.sh-product-gsuite {

                &:hover {
                    .sh-button {
                        transition: 0.5s;
                        background-color: $brand-1;
                    }
                }

                .sh-product-image {
                    transition: 0.25s ease-in;
                    background-image: url('/images/gsuite2.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            .sh-feature-list {
                list-style: none;
                padding-left: 0;

                li {
                    img {
                        margin-right: 10px;
                    }

                    margin-top: 5px;
                }
            }

            .sh-list-image {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.sh-content {
    .sh-dark-band {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $brand-1;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: hidden;

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .sh-city-outline {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 70%;
        }

        h4 {
            max-width: 1000px;
            text-align: center;
        }
    }

    .sh-light-band {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $off-white;
        color: $charcoal;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: hidden;

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .sh-city-outline {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 70%;
        }

        h4 {
            max-width: 800px;
            text-align: center;
        }

        .sh-services {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: flex-start;

            .sh-service {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 280px;
                flex: 1 1 280px;

                img {
                    height: 100px;
                }

                h3 {
                    margin-top: 15px;
                }

                p {
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }

    .sh-white-band {
        color: $text-gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 95px;
        padding-bottom: 95px;

        h1 {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 40px;
            color: $brand-1;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        p {
            max-width: 1000px;
        }

        .sh-services {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-bottom: 40px;
            align-items: flex-start;

            .sh-service {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 280px;
                flex: 1 1 280px;

                img {
                    height: 100px;
                }

                h3 {
                    margin-top: 15px;
                    color: $charcoal;
                }

                p {
                    text-align: center;
                    color: $text-gray
                }
            }
        }
    }

    .sh-clients {
        background-color: $brand-2;
    }

    .steps {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .step {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 250px;

            & .step-number {
                width: 118px;
                height: 118px;
                line-height: 110px;
                border: 2px solid white;
                border-radius: 50%;
                margin: 0 auto;
                color: white;
                font-weight: bold;
                font-size: 34px;
                text-align: center;
            }

            & .step-title {
                text-align: center;
                font-size: 22px;
                color: $brand-2;
                font-family: benton-sans-condensed, sans-serif;
                font-weight: 400;
                margin-top: 10px;
                text-transform: uppercase;
            }

            & .step-caption {
                padding-left: 10px;
                padding-right: 10px;

                @media (max-width: 767px) {
                    & {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }

    .vertical-steps {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .step {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: left;
            margin-bottom: 10px;
            max-width: 810px;

            & .step-icon {
                display: flex;
                min-width: 68px;
                height: 68px;
                justify-content: center;
            }

            & .step-content {
                display: flex;
                flex-direction: column;
                margin-left: 15px;

                & .step-title {
                    font-weight: bold;
                    color: $brand-2;
                    font-size: 20px;
                }
            }
        }
    }

    .dev-steps {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

        .dev-step-list {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            max-width: 555px;
            ;

            & .dev-step {
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid darkslategrey;
                text-align: left;

                & .dev-step-title {
                    font-size: 20px;
                    color: $charcoal;
                }

                
            }
        }

        .dev-step-graphic {
            display: flex;
            flex-direction: column;
            width: 375px;
        }
    }

    .sh-partners {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .sh-partner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
            padding-bottom: 20px;
            padding-top: 20px;
            max-width: 1000px;
            border-bottom: 1px solid #B7B4B4;

            &:last-of-type {
                border-bottom: none;
            }

            & .sh-partner-logo {
                display: flex;
                min-width: 465px;
                justify-content: left;

                &>img {
                    height: 100px;
                    max-width: 462px;
                }
            }

            & .sh-partner-content {
                display: flex;
                flex-direction: column;
                margin-left: 45px;
                width: 450px;


                & .sh-partner-title {
                    color: $brand-1;
                    text-align: left;
                }
            }

            @media (max-width: 979px) {
                & {
                    flex-direction: column;
                    justify-content: center;
                }

                & .sh-partner-logo {
                    justify-content: center;

                    &>img {
                        max-width: 90%;
                    }
                }

                & .sh-partner-content {
                    padding-top: 15px;
                }
            }

            @media(max-width: 530px) {
                & .sh-partner-logo {
                    min-width: 0;

                    &>img {
                        height: 50px;
                    }
                }

                & .sh-partner-content {
                    min-width: 0;
                    width: 80%;
                }
            }
        }
    }

    .sh-contact-us {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .map {
            margin-right: 10px;
            margin-top: 20px;
            height: 400px;
            width: 600px;
            display: flex;
            flex-direction: column;
        }

        .contact-info {
            display: flex;
            flex-direction: column;

            .sh-contact-section {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 20px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }

        a {}

    }

}

.last-light-blue {
    background: $brand-1;
}

.sh-get-in-touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $off-white;
    color: $charcoal;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;

    &>h1 {
        margin-bottom: 30px;
    }

    &>h2 {
        margin-bottom: 30px;
    }

    & .git-text {
        width: 60%;
        margin-bottom: 30px;
    }

    & .git-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 170px;
        height: 60px;
        border: 2px solid $charcoal;
        border-radius: 3px;
        color: $charcoal;
        text-decoration: none;
        transition: 0.45s;
        font-weight: 600;

        &:visited {
            color: $charcoal;
            text-decoration: none;
        }


        &:hover {
            color: $off-white;
            background-color: $charcoal;
            text-decoration: none;
            transition: 0.45s;
        }
    }
}

.sh-footer {
    background-color: $brand-1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    h3 {
        color: white;
        font-size: 1.2em;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    a {
        color: white;
    }

    .map {
        margin-right: 10px;
        margin-top: 20px;
        height: 200px;
        width: 300px;
    }

    .sh-contact-section {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .sh-contact-form form {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: left;

        input {
            margin-bottom: 10px;
            width: 280px;
            padding: 5px;

        }

        button {
            width: 100px;
        }
    }

    .sh-bottom-navigation {
        margin-left: 10px;
        margin-top: 20px;

        .sh-social-links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 20px;

            img {
                width: 30px;
                margin-right: 10px;
            }
        }

        .sh-bottom-navigation-links {
            display: flex;
            flex-direction: column;
            justify-content: left;
        }
    }
}

.sh-about-us {
    .sh-team-members-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sh-team-members {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 20px;
            max-width: 1000px;

            .sh-team-member {
                margin-bottom: 20px;
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;

                img {
                    width: 200px;
                }
            }
        }
    }
}

#flexTeamFeature {
    max-width: 800px;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
    }
}

#projectTeamFeature {
    max-width: 800px;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
    }
}

#incubatorFeature {
    width: 200px;
    margin: 0 auto;
}

#publicSectorFeature {
    max-width: 800px;
    margin: 0 auto;

    img {
        width: 100%;
        height: auto;
    }
}

#gsuite {
    text-align: center;
    margin: 0 auto;
}

a {
    cursor: pointer;
}

.sh-meetup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sh-g-suite {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;


    .sh-tagline {
        margin-top: 40px;
        margin-bottom: 40px;

        h1 {
            color: $washed-blue;
            margin-bottom: 30px;
        }

        h2 {
            color: $washed-blue;
            margin-bottom: 30px;
        }
    }

    .sh-description {
        margin-top: 20px;
        color: $washed-blue;
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .sh-button {
        border: none;
    }
}

.sh-post-content {
    max-width: 850px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;

    h2 {
        font-size: 1.65em;
    }

    .tagline {
        font-family: benton-sans-condensed, sans-serif;
        font-weight: 800;
        color: $brand-1;
    }


    .publish-info {
        font-size: 12px;
        color: $text-gray;
    }

    .post-body {
        margin-top: 20px;
        font-size: 18px;
        color: $text-gray;

        h1 {
            font-size: 1.45em;
            font-weight: bold;
            margin-bottom: 28px;
            color: $brand-1;
        }

        h2,
        h3 {
            font-weight: bolder;
            color: $charcoal;
            margin-bottom: 18px;
        }

        h2 {
            font-size: 1.05em;
        }

        h3 {
            font-size: 1.02em;
        }

        .img-center {
            display: block;
            margin: 0 auto;
        }

        p {
            line-height: 2.15rem;
            margin-bottom: 40px;
        }
    }
}

/* Share Bar */
#share-bar {
    font-size: 20px;
}

/* Title */
#share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 0.85em;
}

#shareText {
    text-transform: uppercase;
    font-family: benton-sans, sans-serif;
    font-weight: 200;
}

/* All buttons */
.share-buttons>a:hover {
    text-decoration: none;
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    padding: 5px 10px 5px 10px;
    border-radius: 21px;
}

.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.fa-facebook {
    color: #3b5998;
}

.fa-facebook:hover {
    background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
    color: #55acee;
}

.fa-twitter:hover {
    background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
    color: #dd4b39;
}

.fa-google-plus:hover {
    background-color: #dd4b39;
}

/* Reddit button */
.fa-reddit-alien {
    color: #ff4500;
}

.fa-reddit-alien:hover {
    background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
    color: #007bb5;
}

.fa-linkedin:hover {
    background-color: #007bb5;
}

/* Email button */
.fa-envelope {
    color: #444444;
}

.fa-envelope:hover {
    background-color: #444444;
}

#postFilters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    background-color: $off-white;
    color: $brand-1;
    font-size: 20px;
    font-weight: 400;

    &>div {
        display: flex;
        flex-direction: column;
        padding: 10px;
        cursor: pointer;

        &>a {
            color: $brand-1;

            &:hover {
                color: $brand-1;
            }

            &.active {
                font-weight: bold;
            }
        }
    }
}

.sh-blog {
    width: 800px;
    margin: 0 auto;
    min-width: 400px;
}

@media screen and (max-width:900px) {
    .sh-blog {
        width: 100%;
    }
}

#contentContainer {
    .post-list {
        padding-left: 0;

        &>li {
            list-style: none;
            padding-top: 10px;

            &>div.sh-post {
                min-height: 150px;
                border-bottom: 1px solid $brand-1;

                h3 {
                    text-align: left;
                    font-family: benton-sans-condensed, sans-serif;
                    font-weight: 400;
                    font-size: 1.35rem;
                }

                .post-title {
                    color: $brand-1;
                }

                .post-excerpt {
                    color: $text-gray;
                }

                .read-more-button {
                    margin-top: 10px;

                    &>a {
                        color: $charcoal;
                        text-transform: uppercase;
                    }
                }

                .author {
                    margin-top: 5px;
                    font-size: 13px;
                    color: $charcoal;
                }

                &:last-of-type {
                    border: none;
                }
            }
        }
    }
}

#govtServices {
    justify-content: space-between;
    width: 100%;
    max-width: 1010px;

    @media (max-width: 859px) {
        flex-direction: column;
        align-items: center;
    }

    .govt-service {
        p {
            color: $brand-1 !important;
        }
    }
}

#govtWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & div {
        padding: 30px;
    }

    & p {
        margin-top: 40px;
    }

    @media (max-width: 790px) {
        & p {
            margin-top: 20px;
        }
    }

    @media (max-width: 750px) {
        flex-direction: column;
        align-items: center;

        #treeFrogImageWrapper>img {
            height: 300px;
        }
    }

    #treeFrogTextWrapper {
        max-width: 530px;

        #playStoreButtons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}