---
---
$brand-1: #0F5481;
$brand-2: #4CBFE5;
$light-text: #595959;
$light-text-faded: rgba(145, 145, 145, 0.5);
$button-disabled: #B7B4B4;
$dark-line: #707070;

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.navbar {
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: $brand-1;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $brand-2;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $brand-2;
}

.dropdown-item {
    color: $brand-1;

    &:hover, &:focus {
        background-color: #fff;
        color: $brand-2;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $brand-2;
    opacity: .7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $brand-2;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $brand-2;
}

.sh-fade-in {
    opacity: 0;

    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
    }
}

@media (min-width: 1100px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 2rem;
    }
}

@media (min-width: 1400px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 3rem;
    }
}

@media (max-width: 992px) {
    .sh-logo {
        width: 250px;
    }
}

@media (min-width: 992px) {
    .sh-logo {
        width: 350px;
    }
}

.sh-home-header {
    @media (min-width: 1201px) {
        background-image: url(images/banner-large.jpg);
    }

    @media (max-width: 1200px) {
        background-image: url(images/banner-medium.jpg);
    }

    @media (max-width: 760px) {
        background-image: url(images/banner-small.jpg);
    }
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    height: 100vh;

    .sh-home-header-content {
        position:relative;

        h2 {
            margin-top: 50vh;
            color: white;
            text-align: right;
            font-size: 3rem;
            font-weight: bold;
        }
    }

    .navbar-light .navbar-nav .nav-link {
        color: white;
    }
    
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: white;
    }
    
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: white;
    }
}

.sh-button {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $button-disabled;
    color: white;
    cursor: pointer;
    
    &:hover {
        background-color: $brand-1;
    }
}

.sh-button-active {
    background-color: $brand-1;
    color: white;
}

.sh-header-lines {
    overflow: hidden;
    text-align: center;

    span {
        position: relative;
        display: inline-block;

        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            border-bottom: 1px solid $light-text-faded;
            width: 800px;
            margin: 0 100px;
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }
    }
}

.sh-header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
}

.sh-content {
    .sh-intro {
        padding-left: 5%;
        padding-right: 5%;

        .sh-tagline {
            margin-top: 40px;
            h2 {
                font-size: 1.2rem;
                color: $light-text;
                font-style: italic;
            }
        }

        .sh-description {
            margin-top: 20px;
            color: $light-text;
            max-width: 850px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }

        .sh-product-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            font-size: .8rem;

            a:hover {
                text-decoration: none;
            }
        
            .sh-product {
                color: $brand-1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 425px;
                padding: 40px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                margin-top: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid $brand-1;

                &:hover {
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
                }

                h3 {
                    margin-top: 20px;
                    text-align: center;
                }

                p {
                    margin-top: 10px;
                    text-align: left;
                }

                a {
                    text-align: center;
                    
                    button {
                        width: 200px;
                    }
                }

                .sh-product-image {
                    height: 150px;
                }

                &.sh-product-flex-teams {
                    &:hover {
                        .sh-product-image {
                            background-image: url('/images/flex-teams-color.svg');
                        }

                        .sh-button {
                            background-color: $brand-1;
                        }
                    }

                    .sh-product-image {
                        background-image: url('/images/flex-teams-bw.svg');
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                    .always-color {
                        background-image: url('/images/flex-teams-color.svg');
                    }
                }

                &.sh-product-project-teams {
                    &:hover {
                        .sh-product-image {
                            background-image: url('/images/project-teams-color.svg');
                        }

                        .sh-button {
                            background-color: $brand-1;
                        }
                    }

                    .sh-product-image {
                        background-image: url('/images/project-teams-bw.svg');
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }

                &.sh-product-incubator {
                    &:hover {
                        .sh-product-image {
                            background-image: url('/images/incubator-color.svg');
                        }

                        .sh-button {
                            background-color: $brand-1;
                        }
                    }

                    .sh-product-image {
                        background-image: url('/images/incubator-bw.svg');
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }
    }

    .sh-dark-band {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $brand-1;
        color: white;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;

        h2 {
            text-align: center;
        }

        .sh-city-outline {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 950px;
        }

        p {
            max-width: 700px;
            text-align: center;
        }
    }

    .sh-white-band {
        color: $brand-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 25px;

        h2 {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 40px;
        }

        p {
            max-width: 1000px;
        }

        .sh-values {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-bottom: 40px;

            .sh-value {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 280px;

                img {
                    height: 100px;
                }

                h3 {
                    font-weight: bold;
                    font-size: 1.1rem;
                    margin-top: 10px;
                }

                p {
                    text-align: center;
                    font-size: .8rem;
                    color: $light-text;
                }
            }
        }
    }

    .sh-clients {
        background-color: $brand-2;
    }

    .steps {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
        height: 100%;

        & .step-number {
            width: 118px;
            height: 118px;
            line-height: 110px;
            border: 2px solid white;
            border-radius: 50%;
            margin: 0 auto;
            color: white;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
        }

        & .step-title {
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            color: $brand-2;
        }

        & .step-caption {
            padding-left: 10px;
            padding-right: 10px;

            @media (max-width: 767px) {
                & {
                    padding-bottom: 15px;
                }
            }
        }
    }

    .dev-steps {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;

        .dev-step-list {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            max-width: 555px;;

            & .dev-step {
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid $dark-line;
                text-align: left;
                & .dev-step-title {
                    font-size: 20px;
                }
                & .dev-step-description {
                    color: $light-text;
                }
            }
        }

        .dev-step-graphic {
            display:flex;
            flex-direction: column;
            width: 375px;
        }
    }
}

.sh-footer {
    background-color: $brand-1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h3 {
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 5px;
    }

    a {
        color: white;
    }

    #map {
        height: 200px;
        width: 300px;
    }

    .sh-contact-section {
        margin-bottom: 20px;
    }

    .sh-contact-form form {
        display:flex;
        flex-direction: column;
        justify-content: left;

        input {
            margin-bottom: 10px;
            width: 280px;
            padding: 5px;
            
        }

        button {
            width: 100px;
        }
    }

    .sh-bottom-navigation {
        .sh-social-links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-bottom: 20px;

            img {
                width: 30px;
                margin-right: 10px;
            }
        }

        .sh-bottom-navigation-links {
            display: flex;
            flex-direction: column;
            justify-content: left;
        }
    }
}

#flexTeamFeature {
    width: 200px;
    margin: 0 auto;
}

#projectTeamFeature {
    width: 159px;
    margin: 0 auto;
}