<script src="/js/micromodal.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/micromodal.css">

<div class="sh-team-members-container">
    <div class="sh-team-members">
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-brad" src="/images/brad-small.jpg"
                alt="Brad" title="Brad" />
            <p class="sh-team-member-name">Brad</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-sean" src="/images/sean-small.jpg"
                alt="Sean" title="Sean" />
            <p class="sh-team-member-name">Sean</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-brian" src="/images/brian-small.jpg"
                alt="Brian" title="Brian" />
            <p class="sh-team-member-name">Brian</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-matt" src="/images/matt-small.jpg"
                alt="Matt" title="Matt" />
            <p class="sh-team-member-name">Matt</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-spencer" src="/images/spencer-small.jpg"
                alt="Spencer" title="Spencer" />
            <p class="sh-team-member-name">Spencer</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-aj" src="/images/AJ-small.jpg" alt="AJ"
                title="AJ" />
            <p class="sh-team-member-name">AJ</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-alec" src="/images/alec-small.jpg"
                alt="Alec" title="Alec" />
            <p class="sh-team-member-name">Alec</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-will" src="/images/will-small.jpg"
                alt="Will" title="Will" />
            <p class="sh-team-member-name">Will</p>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-brad" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-brad-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-brad-title">
                        Brad Gardner
                    </h3>
                    <h4>Partner</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-brad-content">
                <div class="sh-team-member-bio">
                    <p>
                        Brad Gardner is one of the two co-founders of Seven Hills Technology and our resident
                        photographer. Brad originally started his career as a
                        software developer because he was enthralled by the sense of freedom of only being limited by
                        your own understanding of the computer and what
                        you can make by your own creativity. Over time, he grew frustrated by the way the market tended
                        to handle software development consulting projects.
                        His passion is delivering real business value that is critical to their success. Currently his
                        primary focus is on project delivery and sales.
                    </p>
                    <p>
                        In terms of programming languages, Brad is pretty agnostic. However he has a major passion for
                        the Elastic stack and the incredible solutions
                        that can be created by utilizing it.
                    </p>
                    <p>
                        Brad is an excellent photographer and has always had a passion for capturing great moments.
                        While living in Phoenix, he got into astro and night
                        photography. He recently has been learning some advanced photo editing.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/brad-small.jpg" alt="Brad" title="Brad" />
                    </div>
                    <div>
                        <div class="title"><strong>Contact:</strong></div>
                        <div>
                            Email<br />
                            <a href="mailto:bradgardner@sevenhillstechnology.com"
                                alt="Email Brad Gardner">bradgardner@sevenhillstechnology.com</a>
                        </div>
                        <div>
                            LinkedIn<br />
                            <a href="https://www.linkedin.com/in/brad-gardner-8303b78/" alt="LinkedIn">View LinkedIn
                                Profile</a>
                        </div>
                        <div>
                            Phone<br />
                            <a href="tel:+15138184651" alt="Call Brad Gardner">(513) 818-4651</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-sean" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-sean-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-sean-title">
                        Sean Price
                    </h3>
                    <h4>Partner</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-sean-content">
                <div class="sh-team-member-bio">
                    <p>
                        Sean Price is our movie expert, pilot, and one of the two co-founders of Seven Hills Technology.
                        His career in software
                        development began when he was in 6th grade as he stayed up all night with a book on Visual Basic
                        6 and created a slot
                        machine game. Since then, he's been fascinated by the prospect of giving a machine commands and
                        having it do what the
                        commands say. He currently oversees development and personal growth for Seven Hills employees by
                        leading weekly lunch-and-learns
                        and other professional growth workshops.
                    </p>
                    <p>
                        Sean's favorite technology to work in is TypeScript. The flexible and intelligent type system is
                        a fascination for him.
                        He also enjoys using .NET Core to leverage C# on Linux platforms.
                    </p>
                    <p>
                        When not working with technology, Sean spends his time flying airplanes and woodworking. He
                        recently built a crib for his
                        newborn son. He is also a Cross Country coach at Mason High School and has run quite a few half
                        and full marathons, including the Boston Marathon.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/sean-small.jpg" alt="Sean" title="Sean" />
                    </div>
                    <div>
                        <div class="title"><strong>Contact:</strong></div>
                        <div>
                            Email<br />
                            <a href="mailto:seanprice@sevenhillstechnology.com"
                                alt="Email Sean Price">seanprice@sevenhillstechnology.com</a>
                        </div>
                        <div>
                            LinkedIn<br />
                            <a href="https://www.linkedin.com/in/sean-price-a9873a22/" alt="LinkedIn">View LinkedIn
                                Profile</a>
                        </div>
                        <div>
                            Phone<br />
                            <a href="tel:+15138184652" alt="Call Sean Price">(513) 818-4652</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-brian" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-brian-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-brian-title">
                        Brian Adams
                    </h3>
                    <h4>Partner</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-brian-content">
                <div class="sh-team-member-bio">
                    <p>
                        Brian Adams leads Seven Hills Technology in "coloring" (UI/UX design), as well as marketing.
                        Originally having a passion for cars, he found software develoment as an avenue for his
                        creativity and desire to solve problems. Starting as a sophmore in high school, Brian started
                        his career by designing and implementing Wordpress websites for small business and restaurants
                        in his hometown. Brian has moved gradually towards solely focusing on UI/UX throughout his
                        career and also has drastically increased his skill in graphic design during that time.
                    </p>
                    <p>
                        Brian likes to spend his time on the front-end of solutions, preferring React/React-Native,
                        Vue.js, and Swift. He also loves to build interfaces and graphics in Adobe XD and Adobe
                        Illustrator.
                    </p>
                    <p>
                        You'll find Brian at Nippert Stadium on the weekends to cheer on FC Cincinnati and UC, and will
                        find him during the week watching NBA basketball. A lover of indie and alternative rock, music
                        is a passion for Brian. His favorite band is Radiohead.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/brian-small.jpg" alt="Brian" title="Brian" />
                    </div>
                    <div>
                        <div class="title"><strong>Contact:</strong></div>
                        <div>
                            Email<br />
                            <a href="mailto:brianadams@sevenhillstechnology.com"
                                alt="Email Brian Adams">brianadams@sevenhillstechnology.com</a>
                        </div>
                        <div>
                            LinkedIn<br />
                            <a href="https://www.linkedin.com/in/badams2527/" alt="LinkedIn">View LinkedIn
                                Profile</a>
                        </div>
                        <div>
                            Phone<br />
                            <a href="tel:+15138184655" alt="Call Brian Adams">(513) 818-4655</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-matt" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-matt-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-matt-title">
                        Matt Osbourne
                    </h3>
                    <h4>Software Developer</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-matt-content">
                <div class="sh-team-member-bio">
                    <p>
                        Matt Osbourne is a tremendous full-stack developer and currently holds the record for longest
                        title in the office (Matt of House Osbourne, First of His Name, Vice President of Social
                        Responsibility, Developer of Websites, and Water boy of the Realm). Like father, like son, Matt
                        knew from a young age he wanted to do something similar to his dad who works as a Sysadmin. Matt
                        discovered his love for programming in particular after taking an IT class while he was in high
                        school and has been creating incredible software ever since.
                    </p>
                    <p>
                        Matt is a big fan of JavaScript. The freedom and free-flowing nature of non-typed languages
                        appeal to Matt and he has spent a lot of time building full-stack JavaScript applications in
                        Node.js, AngularJS, and React.
                    </p>
                    <p>
                        Saying Matt loves sports would be an understatement. You'll find him watching at least one game
                        every day, regardless of sport. His favorite teams are the UC Bearcats, FC Cincinnati,
                        Cincinnati Reds, Chelsea, and the Philadelphia Eagles.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/matt-small.jpg" alt="Matt" title="Matt" />
                    </div>
                    <div>
                        <div class="title"><strong>Contact:</strong></div>
                        <div>
                            Email<br />
                            <a href="mailto:mattosbourne@sevenhillstechnology.com"
                                alt="Email Matt Osbourne">mattosbourne@sevenhillstechnology.com</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-spencer" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-spencer-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-spencer-title">
                        Spencer Dangel
                    </h3>
                    <h4>Software Developer</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-spencer-content">
                <div class="sh-team-member-bio">
                    <p>
                        Spencer Dangel is a fervent reader, techie, and problem-solver. Spencer started programming with
                        a VB.NET class in high school. He has spent his time since then learning networking, hardware,
                        and a number of different programming languages. His passion for automating processes drives him
                        to create efficient solutions to demanding problems. He's also solved some less-than-demanding
                        problems, such as building a fully customizable restaurant spinner mobile app for determining
                        where to go for lunch after constant indecision from the group going.
                    </p>
                    <p>
                        Spencer spends a lot of his time in Swift, building modern iOS apps using SnapKit. He also
                        thoroughly enjoys working in Node.js, React, and Typescript.
                    </p>
                    <p>
                        Spencer spends a lot of his free time with his dog Zoe. He frequently reads fantasy novels and
                        plays video games. He's currently learning about virtualization platforms and video game
                        hosting.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/spencer-small.jpg" alt="Spencer" title="Spencer" />
                    </div>
                    <div>
                        <div class="title"><strong>Contact:</strong></div>
                        <div>
                            Email<br />
                            <a href="mailto:spencerdangel@sevenhillstechnology.com"
                                alt="Email Spencer Dangel">spencerdangel@sevenhillstechnology.com</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-aj" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-aj-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-aj-title">
                        Andrew (AJ) Robb
                    </h3>
                    <h4>Software Developer</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-aj-content">
                <div class="sh-team-member-bio">
                    <p>
                        Andrew Robb is known around the office and our clients for his great personality and even better
                        hair. Always ready with a smile and positive attitude, AJ is a tremendous software engineer who
                        excels in turning business requirements into code. AJ got his programming start in college,
                        where he began learning Matlab and got very involved with the UC Robotics team. Following a
                        lifelong passion for video games and computers, AJ earned his degree in computer engineering and
                        the rest has been history.
                    </p>
                    <p>
                        AJ is a big fan of Node.js and JavaScript, and is a huge advocate for TypeScript. Recently he
                        has also taken up a significant interest in machine learning, neural networks, and AI.
                    </p>
                    <p>
                        As an avid hiker and camper, AJ loves to spend his time outside. His favorite place to hike is
                        Red River Gorge, and he also recently visited the Rockies. AJ is also an excellent gardener, a
                        video game junkie, and enjoys tinkering with robotics.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/AJ-small.jpg" alt="AJ" title="AJ" />
                    </div>
                    <div>
                        <div class="title"><strong>Contact</strong></div>
                        <div>
                            Email<br />
                            <a href="mailto:andrewrobb@sevenhillstechnology.com"
                                alt="Email Andrew Robb">andrewrobb@sevenhillstechnology.com</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-alec" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-alec-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-alec-title">
                        Alec Reser
                    </h3>
                    <h4>Software Developer</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-alec-content">
                <div class="sh-team-member-bio">
                    <p>
                        Alec Reser is an accomplished developer and an even more accomplished pun-maker . His passion
                        for software development stems from his high school days, where he began creating mobile apps on
                        Android as it gained momentum. Through the years Alec has built incredible software experiences
                        for both mobile apps and web applications. Today, he leads Android development projects and
                        continues to allow his curiousity to create innovative solutions to complex problems.
                    </p>
                    <p>
                        By having a wide-range of past development projects, Alec has a vast technology literacy to draw
                        from. His favorite languages and technologies to work in are Java (for Android development),
                        Node.js, and React/React-Native.
                    </p>
                    <p>
                        When he's not building apps, Alec lives a very active lifestyle. You'll find him participating
                        in local 5k's frequently, as well as hitting the rock climbing wall once a week. If you've got a
                        question or opinion on a TV show, he's your go-to; Alec has seen a ton of shows, and his
                        all-time favorite is The Expanse.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/alec-small.jpg" alt="Alec" title="Alec" />
                    </div>
                    <div>
                        <div class="title"><strong>Contact:</strong></div>
                        <div>
                            Email<br />
                            <a href="mailto:alecreser@sevenhillstechnology.com"
                                alt="Email Alec Reser">alecreser@sevenhillstechnology.com</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-will" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-will-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-will-title">
                        Will Osbourne
                    </h3>
                    <h4>Software Developer</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-will-content">
                <div class="sh-team-member-bio">
                    <p>
                        Will Osbourne is a skillful full-stack developer whose development ability is only surpassed by
                        his ability to make others laugh and his knack for making memes. He began his career jumping
                        around between hardware, IT support, and programming. He found a passion for writing code and
                        solving the unique problems that come along with building software. Will currently spends a lot
                        of time interfacing with clients and building modern web applications.
                    </p>
                    <p>
                        Node.js is Will's current favorite technology. He prefers building API's in Hapi.js and using
                        the new features of ECMAScript 6 to write more readable code.
                    </p>
                    <p>
                        Will spends his time using his incredible past experiences in the world of music to create his
                        own music, as well as read. He enjoys the different ways that he can exercise his brain while
                        making music, compared to the way it's excercised while he's programming.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/will-small.jpg" alt="Will" title="Will" />
                    </div>
                    <div>
                        <div class="title"><strong>Contact:</strong></div>
                        <div>
                            Email<br />
                            <a href="mailto:willosbourne@sevenhillstechnology.com"
                                alt="Email Will Osbourne">willosbourne@sevenhillstechnology.com</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<script type="text/javascript">
    MicroModal.init();
</script>