<script src="/js/micromodal.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/micromodal.css">

<div class="sh-team-members-container">
    <div class="sh-team-members">
        <div class="sh-team-member">
            <img class="sh-team-member-image" data-micromodal-trigger="modal-brad" src="/images/brad-small.jpg" alt="Brad" title="Brad" />
            <p class="sh-team-member-name">Brad</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" src="/images/sean-small.jpg" alt="Sean" title="Sean" />
            <p class="sh-team-member-name">Sean</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" src="/images/brian-small.jpg" alt="Brian" title="Brian" />
            <p class="sh-team-member-name">Brian</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" src="/images/matt-small.jpg" alt="Matt" title="Matt" />
            <p class="sh-team-member-name">Matt</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" src="/images/spencer-small.jpg" alt="Spencer" title="Spencer" />
            <p class="sh-team-member-name">Spencer</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" src="/images/AJ-small.jpg" alt="AJ" title="AJ" />
            <p class="sh-team-member-name">AJ</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" src="/images/alec-small.jpg" alt="Alec" title="Alec" />
            <p class="sh-team-member-name">Alec</p>
        </div>
        <div class="sh-team-member">
            <img class="sh-team-member-image" src="/images/will-small.jpg" alt="Will" title="Will" />
            <p class="sh-team-member-name">Will</p>
        </div>
    </div>
</div>

<div class="modal micromodal-slide" id="modal-brad" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-brad-title">
            <header class="modal__header">
                <div class="modal__identifier">
                    <h3 class="modal__title" id="modal-brad-title">
                        Brad Gardner
                    </h3>
                    <h4>Partner</h4>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-brad-content">
                <div class="sh-team-member-bio">
                    <p>
                        Brad Gardner is one of the two co-founders of Seven Hills Technology and our resident photographer. Brad originally started his career as a 
                        software developer because he was enthralled by the sense of freedom of only being limited by your own understanding of the computer and what 
                        you can make by your own creativity. Over time, he grew frustrated by the way the market tended to handle software development consulting projects. 
                        His passion is delivering real business value that is critical to their success. Currently his primary focus is on project delivery and sales.
                    </p>
                    <p>
                        In terms of programming languages, Brad is pretty agnostic. However he has a major passion for the Elastic stack and the incredible solutions 
                        that can be created by utilizing it. 
                    </p>
                    <p>
                        Brad is an excellent photographer and has always had a passion for capturing great moments. While living in Phoenix, he got into astro and night 
                        photography. He recently has been learning some advanced photo editing.
                    </p>
                </div>
                <div class="sh-team-member-contact">
                    <div class="profile-picture">
                        <img src="/images/brad-small.jpg" alt="Brad" title="Brad" />
                    </div>
                    <div class="title"><strong>Contact:</strong></div>
                    <div>
                        <strong>Email</strong><br/>
                        <a href="mailto:bradgardner@sevenhillstechnology.com" alt="Email Brad Gardner">bradgardner@sevenhillstechnology.com</a>
                    </div>
                    <div>
                        <strong>LinkedIn</strong><br/>
                        <a href="https://www.linkedin.com/in/brad-gardner-8303b78/" alt="LinkedIn">View LinkedIn Profile</a>
                    </div>
                    <div>
                        <strong>Phone</strong><br/>
                        <a href="tel:+15138184651" alt="Call Brad Gardner">(513) 818-4651</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<script type="text/javascript">
    MicroModal.init();
</script>
