{% if page.url == '/gsuite.html' %}
<div class="last-light-blue">
    <div class="sh-band-flair light-top git-flair"></div>
</div>
{% else %}
<div class="sh-band-flair light-top"></div>
{% endif %}
<section class="sh-get-in-touch">
    {% if page.cta_title == null %}
    <h2>Interested in a quick conversation? We're here to help.</h2>
    {% else %}
    <h2>{{page.cta_title}}</h2>
    {% endif %}
    {% if page.cta_link == null %}
    <a class="git-button" href="https://app.hubspot.com/meetings/bradgardner/1-hour-consultation"
        target="_blank">Schedule Now</a>
    {% else %}
    <a class="git-button" href="https://app.hubspot.com/meetings/bradgardner/1-hour-consultation"
        target="_blank">{{page.cta_link}}</a>
    {% endif %}
    
</section>
<div class="last-light-blue">
    <div class="sh-band-flair light-bottom git-flair"></div>
</div>