<!DOCTYPE html>
<html lang="en">

<head>
    <link href=’https://www.googletagmanager.com’ rel=’preconnect’ crossorigin>
    <link href=’https://www.google-analytics.com’ rel=’preconnect’ crossorigin>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M9HVWVZ');</script>
    <!-- End Google Tag Manager -->

    <title>{{page.title}} | Seven Hills Technology</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta charset="utf-8" />
    <meta name="Seven Hills Technology, LLC" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@sevenhillstech">
    <meta name="twitter:title" content="{{page.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    <meta name="twitter:image" content="https://sevenhillstechnology.com{{page.feature_image_url}}">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans:300,400,800&display=swap" rel="stylesheet"> 

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico?">
    <!-- Facebook Pixel Code -->
    <script>
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '161430064803305');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=161430064803305&ev=PageView&noscript=1" alt="" /></noscript>
    <!-- End Facebook Pixel Code -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2280641.js"></script>
    <!-- End of HubSpot Embed Code -->
    <script src="https://kit.fontawesome.com/480a6c995f.js"></script>

    <script type="text/javascript" src="https://secure.hiss3lark.com/js/180881.js" ></script>
<noscript><img alt="" src="https://secure.hiss3lark.com/180881.png" style="display:none;" /></noscript>
</head>

<body>
    <header class="sh-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">
                <img class="sh-logo" src="/images/logo.svg" alt="Seven Hills Technology Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mb-auto" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% for item in site.data.pagelist.docs %}
                    <li class="nav-item">
                        {% if item.children.size > 0 %}
                    <li class="nav-item dropdown">
                        {% assign childActive = item.children | where:"url",page.url %}
                        {% if childActive.size > 0 %}
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% else %}
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% endif %}
                                {{item.title}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for child in item.children %}
                                {% if page.url == child.url %}
                                <a class="dropdown-item active" href="/{{child.friendlyUrl}}">{{child.title}}</a>
                                {% else if page.url.size > 0 %}
                                <a class="dropdown-item" href="/{{child.friendlyUrl}}">{{child.title}}</a>
                                {% endif %}
                                {% if child.grouping.size > 0 %}
                                <div class="dropdown-divider"></div>
                                <span class="grouping-name">{{child.grouping.name}}</span>
                                {% for grandchild in child.grouping.children %}
                                {% if page.url == grandchild.url %}
                                <a class="dropdown-item active"
                                    href="/{{grandchild.friendlyUrl}}">{{grandchild.title}}</a>
                                {% else if page.url.size > 0 %}
                                <a class="dropdown-item" href="/{{grandchild.friendlyUrl}}">{{grandchild.title}}</a>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </div>
                    </li>
                    {% else %}
                    {% if page.url == item.url %}
                    <a class="nav-link active" href="/{{ item.friendlyUrl }}"
                        alt="{{ item.title }}">{{ item.title }}</a>
                    {% else %}
                    <a class="nav-link" href="/{{ item.friendlyUrl }}" alt="{{ item.title }}">{{ item.title }}</a>
                    {% endif %}
                    {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    <section class="sh-post-content">
        <h1 class="sh-header-lines"><span>{{page.title}}</span></h1>
        <h2 class="tagline">{{page.tagline}}</h2>
        <div class="publish-info">
            <strong>{{page.author}}</strong> on <strong>{{page.date | date_to_long_string}}</strong>
        </div>
        <div class="share-bar-container">
            {% include share-bar.html %}
        </div>

        <div class="post-body">
            {{content}}
        </div>

        <div class="share-bar-container">
            {% include share-bar.html %}
        </div>
        <div style="margin-top: 15px;">
            <h4>Don't miss our next post! Sign up for our newsletter</h4>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
            <script>
            hbspt.forms.create({
                portalId: "2280641",
                formId: "8e1bb62f-599f-4bef-8ef6-e363be671243"
            });
            </script>
        </div>
    </section>
    <div class="sh-band-flair light-top"></div>
    <section class="sh-get-in-touch">
        <h2>Interested in a quick conversation? We're here to help.</h2>
        <a class="git-button" href="https://app.hubspot.com/meetings/bradgardner/1-hour-consultation"
            target="_blank">Schedule
            Now</a>
    </section>
    <div class="last-light-blue">
        <div class="sh-band-flair light-bottom git-flair"></div>
    </div>
    <footer class="sh-footer">
        <div class="sh-contact-info">
            <div class="sh-contact-section sh-find-us">
                <h3>Find Us</h3>
                <a href="https://www.google.com/maps/dir/Seven+Hills+Technology+4700+Ashwood+Dr,+Blue+Ash,+OH+45241//@39.2695923,-84.3749387,15z"
                    rel="noopener" target="_blank">4050 Executive Park Dr STE 330, Cincinnati, OH 45241</a>
            </div>
            <div class="sh-contact-section sh-call-us">
                <h3>Call Us</h3>
                <a href="tel:+15138184650">513.818.4650</a>
            </div>
            <div class="sh-contact-section sh-email-us">
                <h3>Email Us</h3>
                <a href="mailto:info@sevenhillstechnology.com">info@sevenhillstechnology.com</a>
            </div>
        </div>
        <!-- <div class="sh-contact-form">
            <h3>Connect With Us</h3>
            <form id="contactForm">
                <input type="text" placeholder="Full Name" required />
                <input type="text" placeholder="Email" required />
                <input type="text" placeholder="Message" required />
                <button class="sh-button" type="submit">Submit</button>
            </form>
        </div> -->
        <div class="sh-bottom-navigation">
            <div class="sh-social-links">
                <a href="https://goo.gl/maps/WPw5bgXBk4x" rel="noopener" target="_blank"><img src="/images/google.svg"
                    alt="google" /></a>
                <a href="https://www.facebook.com/sevenhillstechnologyus/" rel="noopener" target="_blank">
                    <img src="/images/facebook.svg" alt="facebook" />
                </a>
                <a href="https://www.linkedin.com/company-beta/10632515" rel="noopener" target="_blank">
                    <img src="/images/linkedin.svg" alt="linkedin" />
                </a>
            </div>
            <div class="sh-bottom-navigation-links">
                <a href="/">Home</a>
                <a href="#">Services</a>
                <a href="#">Partnerships</a>
                <a href="#">About Us</a>
                <a href="#">Blog</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>

    <!-- Do we need these? -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <script src="//s3-us-west-2.amazonaws.com/s.cdpn.io/16327/DrawSVGPlugin.min.js"></script>
    <script type="text/javascript">
        const observer = lozad();
        observer.observe();
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "Seven Hills Technology",
            "image": "https://sevenhillstechnology.com",
            "url": "https://sevenhillstechnology.com",
            "telephone": "+15138184650",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "4700 Ashwood Drive, STE 120",
                "addressLocality": "Cincinnati",
                "addressRegion": "Ohio",
                "postalCode": "45241",
                "addressCountry": "US"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": "39.2721468",
                "longitude": "-84.3766958"
            },
            "openingHours": [
                "Mo-Fr 08:00-17:00"
            ]
        }
        </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Seven Hills Technology",
            "url": "https://sevenhillstechnology.com",
            "logo": "https://sevenhillstechnology.com/wp-content/uploads/2017/05/logo-blue.png",
            "contactPoint": [
                {
                    "@type": "ContactPoint",
                    "telephone": "+15138184650",
                    "contactType": "sales",
                    "email": "info@sevenhillstechnology.com",
                    "areaServed": [
                        "US"
                    ],
                    "availableLanguage": [
                        "English"
                    ]
                }
            ]
        }
        </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9HVWVZ" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>

</html>